@import url("https://unpkg.com/tailwindcss@^2/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
/* @import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Parisienne&family=Raleway&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Playfair+Display:ital,wght@1,600&family=Source+Sans+Pro:wght@300&display=swap');


/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/* .font-Raleway {
    font-family: Raleway, sans-serif;
  }
  
  .font-Bitter {
    font-family: "Bitter", serif;
  }

  .font-Parisienne{
    font-family: "Parisienne", cursive;
  } */

  .font-Source {
    font-family: Source, sans-serif;
  }
  
  .font-Playfair {
    font-family: "Playfair Display", serif;
  }

  .font-Imperial {
    font-family: "Imperial Script", serif;
  }



  


